
/*grid-area дает псевдоним элементу, это нужно чтобы сказать родителю как расположить элементы*/

.header {
 grid-area: h;

 background-color: silver;
}
.loginBlock{
	display: flex;
	flex-direction: row-reverse;
}
.miniAva{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.starusTop{
	display: flex;
	flex-direction: column;
}

.right{
	float: right;
}
