.app-wrapper {
 display: grid;

 grid-template-areas: 
 "h" /* это значит что хедер займет одну колонки*/
 "n"
 "c" /* навбар и контент займут одну колонки*/
 ;

 grid-template-rows: 60px  60px 1fr; /*у меня 2 строки, одна 60px, вторая 1 фракция, то есть занимает все остальное*/
 /* grid-template-columns: 2fr 10fr ; и две колонки, одна 2 части, вторая 10 частей*/
 /*template [templit] - шаблон, образец*/
}

.header {
 grid-area: h;

 background-color: silver;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
